/* rem and em don not depend on html font size in media queries, Instead 1rem = 1em = 16px
rem: root font size
em:current font size
*/
/* *************only screen******* */

/* **************************** */
/* Below 1344px (Smaller Desktops) */
/* **************************** */

@media (max-width: 84em) {
  #simscreen {
    height: 400px;
    width: 550px;
    padding-top: 20px;

  }

}

/* **************************** */
/* Below 1200px (Lanscape Tablets) */
/* **************************** */

@media (max-width: 75em) {
  body {
    width: 100%;
    margin: unset;
  }



  #simscreen {
    height: 400px;
    width: 550px;
    margin: 0 auto;
    /* Centers the element horizontally */

  }

  .canvas__div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #commentboxleft {
    margin-left: 200px;

  }

  #clearGraph {
    position: relative;
    left: 165px;
    top: -388px;
    width: 80px;
    height: 20px;
    cursor: pointer;
  }
  .variables-sections{
    position: relative;
    left: 72px;
  }



}

/* **************************** */
/* Below 944px ( Tablets) */
/* **************************** */

@media (max-width: 59em) {

  .tool-link:link,
  .tool-link:visited {
    gap: 0.5rem;
    font-size: 1.4rem;
    flex-direction: column;
  }

  .title-div h1 {
    font-size: 2rem;
  }

  .main__task-div {
    height: auto;
  }

  .sidebar {
    position: fixed;
    padding: 0;
    bottom: 0;
    left: 0;
    flex-direction: row;
    width: 100%;
    backdrop-filter: blur(10rem);
    z-index: 101;
    justify-content: space-evenly;
    border-radius: 0;
    scroll-behavior: auto;
  }

  .tool-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    width: 100%;
    font-size: 2.4rem;
    justify-content: space-evenly;
    padding: 1rem;
  }

  .main-section {
    grid-template-columns: 1fr;
  }

  .logo-div {
    width: 6.5rem;
  }

  .icons {
    width: 3rem;
    height: 3rem;
  }

  .tool-list span {
    font-size: 1.2rem;
  }

  .main__task-div:nth-child(4) {
    margin-bottom: 6rem;
  }

  .canvas {
    display: block;
    width: 100%;
    height: 100%;
    /* background-color: red; */
  }

  .main-section {
    grid-template-columns: 1fr;
  }

  .canvas__div {
    grid-template-columns: 1fr;
  }

  .canvas {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    border-top: 1px solid rgba(177, 176, 176, 0.855);
  }

  #simscreen {
    height: 400px;
    width: 550px;
    margin: 0 auto;
    /* Centers the element horizontally */

  }

  .canvas__div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #commentboxleft {
    margin-left: 150px;

  }

  canvas#storegraph {
    position: absolute;
    left: 60px;
    top: 40px;
    height: 400px;
    width: 550px;
  }

  canvas#graphscreen {
    position: absolute;
    left: 60px;
    top: 40px;
    height: 400px;
    width: 550px;
  }

  #clearGraph {
    position: relative;
    left: 305px;
    top: -388px;
    width: 80px;
    height: 20px;
    cursor: pointer;
  }

  #variables{
    display: flex;
    justify-content: center;
  }
  .variable{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text{
    margin-left: 7px;
  }
  .text1{
    margin-left: -21px;
  }
  .text2{
    margin-left: -49px;
  }
  .text3{
    margin-left: -22px;
  }
  .text4{
    margin-left: -3px;
  }
  .inputBox{
    
  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 56px;
  }
  .inputBoxFreq{
    margin-left: 21px;
  }
  .unitFreq{
    /* margin-left: 0px; */
  }
  .variables-sections{
    position: relative;
    left: -44px;
   
  }
 

}

/* **************************** */
/* Below 820px (Smaller Tablets) */
/* **************************** */
@media (max-width: 48em) {
  .main-section {
    grid-template-columns: 1fr;
  }

  .canvas__div {
    grid-template-columns: 1fr;
  }

  .canvas {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    border-top: 1px solid rgba(177, 176, 176, 0.855);
  }

  .tool-list span {
    font-size: 1.2rem;
  }

  #simscreen {
    height: 400px;
    width: 550px;
    margin: 0 auto;
    /* Centers the element horizontally */

  }

  .canvas__div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #commentboxleft {
    margin-left: 100px;


  }

  canvas#storegraph {
    position: absolute;
    left: 60px;
    top: 40px;
    height: 400px;
    width: 550px;
  }

  canvas#graphscreen {
    position: absolute;
    left: 60px;
    top: 40px;
    height: 400px;
    width: 550px;
  }

  #clearGraph {
    position: relative;
    left: 248px;
    top: -388px;
    width: 80px;
    height: 20px;
    cursor: pointer;
  }
  .variables-sections{
    position: relative;
    left: -2px;
    
  }



 

}

/* **************************** */
/* Below 704px (Smaller Tablets) */
/* **************************** */
@media (max-width: 44em) {
  .canvas__div {
    grid-template-columns: 1fr;
  }

  .img-div {
    flex-direction: column;
  }

  .title-div {
    gap: 0rem;
    text-align: center;
  }

  .round {
    width: 0.6rem;
    height: 0.6rem;
  }

  .logo-div {
    width: 6.5rem;
  }

  .main__task-div:nth-child(4) {
    margin-bottom: 6rem;
  }

  .circuit-dia {
    width: 40%;
  }

  .cross-img {
    width: 60%;
  }

  .canvas {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    border-top: 1px solid rgba(177, 176, 176, 0.855);
  }

  #simscreen {
    height: 300px;
    width: 450px;
    margin: 40px auto;
    /* Centers the element horizontally */
    position: relative;
    left: 20px;


  }

  .canvas__div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #commentboxleft {
    margin-left: 104px;
    position: relative;
    top: 400px;
    font-size: 13px;


  }

  #titleincanvas {
    position: relative;
    top: -70px;
    left: -79px;
    font-size: 17px;
   
  }

  canvas#storegraph {
    position: absolute;
    left: 40px;
    top: 55px;
    height: 370px;
    width: 500px;
  }

  canvas#graphscreen {
    position: absolute;
    left: 40px;
    top: 55px;
    height: 370px;
    width: 500px;
  }

  #clearGraph {
    position: relative;
    left: 205px;
    top: -388px;
    width: 80px;
    height: 20px;
    cursor: pointer;
  }

  .variables-sections{
    position: relative;
    left: -4px;
  }


}

/* **************************** */
/* Below 540px (Smaller Tablets) */
/* **************************** */
@media (max-width: 34em) {
  .container {
    padding: 0.5rem;
    gap: 1rem;
  }

  .title-div h1 {
    /* padding: 0.2rem; */

    font-size: 1.6rem;
    /* text-align: center; */
  }

  .logo-div {
    width: 4.5rem;
  }

  .div__control {
    gap: 2rem;
    /* top: 1.8rem;
    right: 1.5rem; */
  }

  .ctrl-icons {
    width: 2.5rem;
    height: 2.5rem;
  }

  .tool-menu {
    gap: 1.5rem;
  }

  .tool-list span {
    font-size: 1.2rem;
  }

  .task-title {
    font-size: 1.7rem;
  }

  label,
  select,
  input,
  p {
    display: inline-block;
    font-size: 1.5rem;
  }

  .main {
    gap: 0.5rem;
  }

  .main-section {
    gap: 0.5rem;
  }

  .sidebar {
    border-radius: 0;
  }

  .canvas {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    border-top: 1px solid rgba(177, 176, 176, 0.855);
    /* background-color: red; */
  }

  .div__control img {
    width: 2.7rem;
    height: 2.5rem;
  }

  .tooltip {
    font-size: 1rem;
  }

  #simscreen {
    height: 320px;
    width: 350px;
    margin: 40px auto;
    position: relative;
    left: -10px;


  }

  .canvas__div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #commentboxleft {
    margin-left: 70px;
    margin-top: -10px;
    font-size: 12px;


  }

  #titleincanvas {
    position: relative;
    top: -72px;
    left: -85px;
    font-size: 13px;
  }

  canvas#storegraph {
    position: absolute;
    left: -30px;
    top: 55px;
    height: 340px;
    width: 380px;
  }

  canvas#graphscreen {
    position: absolute;
    left: -30px;
    top: 55px;
    height: 340px;
    width: 380px;
  }

  #clearGraph {
    position: relative;
    left: 70px;
    top: -388px;
    width: 80px;
    height: 20px;
    cursor: pointer;
  }

  

  #commentboxright {
    margin-left: 114px;
  }




 

  label {
    font-size: 1.5rem;
  }
  .variables-sections{
    position: relative;
    left: -1px;
   
  }



}

@media (max-width:25.2){
  #variables{
    display: flex;
    justify-content: center;
  }
  .variable{
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }
  .text{
    margin-left: 7px;
  }
  .text1{
    margin-left: -21px;
  }
  .text2{
    margin-left: -49px;
  }
  .text3{
    margin-left: -22px;
  }
  .text4{
    margin-left: -3px;
  }
  .inputBox{
    
  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
  }
  .inputBoxFreq{
    margin-left: 21px;
  }
  .unitFreq{
    /* margin-left: 0px; */
  }
 

}



@media(max-width:27em){


  #commentboxright {
    margin-left: 59px;
  }
  .variables-sections{
    position: relative;
    left: -4px;
    margin-top: 2px;
   
   
  }
  #titleincanvas {
    position: relative;
    top: -76px;
    left: -88px;
    font-size: 12px;
  }

 



}


@media (max-width: 24em) {
  .container {
    padding: 0.5rem;
    gap: 1rem;
  }


  .title-div h1 {
  
    font-size: 1.6rem;
   
  }

  .logo-div {
    width: 4.5rem;
  }

  .div__control {
    gap: 2rem;

  }

  .ctrl-icons {
    width: 2.5rem;
    height: 2.5rem;
  }

  .tool-menu {
    gap: 1.5rem;
  }

  .tool-list span {
    font-size: 1.2rem;
  }

  .task-title {
    font-size: 1.7rem;
  }

  label,
  select,
  input,
  p {
    display: inline-block;
    font-size: 1.5rem;
  }

  .main {
    gap: 0.5rem;
  }

  .main-section {
    gap: 0.5rem;
  }

  .sidebar {
    border-radius: 0;
  }

  .canvas {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    border-top: 1px solid rgba(177, 176, 176, 0.855);
    /* background-color: red; */
  }

  .div__control img {
    width: 2.7rem;
    height: 2.5rem;
  }

  .tooltip {
    font-size: 1rem;
  }




  #simscreen {
    height: 330px;
    width: 305px;
    margin: 40px auto;
    /* Centers the element horizontally */
    position: relative;
    left: -10px;
    top: 12px;


  }

  #titleincanvas {
    margin-top: 60px;
  }

  .canvas__div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #commentboxleft {
    margin-left: 64px;
    margin-top: -20px;
    font-size: 11px;

  }

  #titleincanvas {
    position: relative;
    top: -97px;
    left: -75px;
    font-size: 12px;
  }

  .main__task-div {
    width: 98%;
  }

  canvas#storegraph {
    position: absolute;
    left: -30px;
    top: 55px;
    height: 310px;
    width: 355px;
  }

  canvas#graphscreen {
    position: absolute;
    left: -30px;
    top: 55px;
    height: 310px;
    width: 355px;
  }

  #clearGraph {
    position: relative;
    left: 110px;
    top: -388px;
    width: 80px;
    height: 20px;
    cursor: pointer;
  }

  #commentboxleft {
    margin-left: 64px;
    margin-top: -20px;


  }
  #variables{
    display: flex;
    justify-content: center;
  }
  .variable{
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }
  .text{
    margin-left: -37px;
  }
  .text1{
    margin-left: -55px;
  }
  .text2{
    margin-left: -90px;
  }
  .text3{
    margin-left: -62px;
  }
  .text4{
    margin-left: -22px;
  }
  .inputBox{
    
  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
  }
  .inputBoxFreq{
    margin-left: 21px;
  }
  .unitFreq{
    /* margin-left: 0px; */
    position: relative;
    left: -20px;
  }
  #stiffslider,
  #massslider,
  #dampslider {
    margin-right: 50px;

  }





  #commentboxright {
    margin-left: 60px;
  }
  .variables-sections{
    position: relative;
    left: 18px;
    margin-top: 10px; 
  }

}




@media (max-width: 21em) {
  canvas#storegraph {
    position: absolute;
    left: -30px;
    top: 42px;
    height: 270px;
    width: 345px;
  }

  canvas#graphscreen {
    position: absolute;
    left: -30px;
    top: 42px;
    height: 270px;
    width: 345px;
  }

  #clearGraph {
    position: relative;
    left: 103px;
    top: -388px;
    width: 80px;
    height: 20px;
    cursor: pointer;
  }

  #commentboxleft {
    margin-left: 64px;
    margin-top: -26px;
    font-size: 10.5px;

  }


  #dampslider {
    position: relative;
    top: -12px;
    margin-top: 6px;

  }

  #commentboxright {
    margin-left: 26px;
  }
  #variables{
    display: flex;
    justify-content: center;
  }
  .variable{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 18px;
   
  }
  #stiffslider,
  #massslider,
  #dampslider {
    margin-right: 70px;
    
  }
  .variables-sections{
    position: relative;
    left: 20px;
    margin-top: 16px;
   
  }
}

/* 

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

 */